<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" th:lang="${#locale.language}">
	
<head th:include="fragment/headTag :: headTag">
    <title>demonstration application</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>
		<title th:text="${title}">(title)</title>
		<link th:href="@{/assets/bootstrap/3.2.0/css/bootstrap.css}" rel="stylesheet"></link>

		<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/3.2.0/css/bootstrap.min.css}" />
		<script type="text/javascript" th:href="@{/assets/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:href="@{/assets/jquery/2.1.1/jquery.js}"></script>
</head>

<body th:fragment="footer">
	<div id="footer">
		<div class="navbar navbar-inner  navbar-fixed-bottom">
			<p class="muted credit"><center><span class="glyphicon glyphicon-copyright-mark"></span>  Copyright (C) 2012-2013 Scalatech </center></p>
       </div>
 </div>

			
</body>

</html>





