<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head th:fragment="headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <title>thymeleaf poc's</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>
		<title th:text="${title}">(title)</title>
		<link th:href="@{/assets/bootstrap/3.2.0/css/bootstrap.css}" rel="stylesheet"></link>
		<link rel="shortcut icon" th:href="@{/favicon.ico}" href="../../resources/images/favicon.ico" />
		<script type="text/javascript" th:href="@{/assets/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:href="@{/assets/jquery/2.1.1/jquery.js}"></script>
</head>
</html>