<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:tiles="http://www.thymeleaf.org"
    th:lang="${#locale.language}">


<head th:include="fragment/headTag :: headTag">
    <title>demonstration application</title>

		<title th:text="${title}">(title)</title>
	 
</head>

<body th:fragment="nav">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" >
      <div class="navbar-inner">
        <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand"  href="#" th:href="@{/}" th:text="#{nav.home}"><span class="glyphicon glyphicon-home"></span>Home</a>
 
  </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
             
              <li class="dropdown">
                 <a href="" class="dropdown-toggle" data-toggle="dropdown" th:text="#{nav.profile}"><span class="glyphicon glyphicon-user"></span>Profile : <b class="caret"></b></a>
                      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                              
                                <li role="presentation" class="dropdown-header">User profile</li>
                                <li><a href="#" th:href="@{/userProfile/}"><span class="glyphicon glyphicon-user"></span>Wyświetl profil</a></li>
                                <li><a href="#" th:href="@{/userProfile/add}"><span class="glyphicon glyphicon-plus"></span>Dodaj  profil</a></li>
                                 <li role="presentation" class="divider"></li>
                                 <li role="presentation" class="dropdown-header">User action</li>
                                <li><a href="#"><span class="glyphicon glyphicon-lock"></span>Blokuj użytkownika</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-lock"></span>Odblokuj użytkownika</a></li>
                                
                      </ul>
                 
                 </li>
              <li class="divider-vertical"></li>  
              <li class="dropdown">
                 <a href="#" th:href="@{/userProfile/add}" class="dropdown-toggle" data-toggle="dropdown" th:text="#{nav.language}"><span class="glyphicon glyphicon-globe"></span>Języki<b class="caret"></b></a>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                <li><a href="?lang=pl"><span class="glyphicon glyphicon-globe"></span>pl</a></li>
                                <li class="divider"></li>
                                <li><a href="?lang=en"><span class="glyphicon glyphicon-globe"></span>en</a></li>
                            </ul>
              </li>
             <li class="divider-vertical" />
               <li class="dropdown">
                 <a href="" class="dropdown-toggle" data-toggle="dropdown" th:text="#{nav.country}"><span class="glyphicon glyphicon-user"></span>Country : <b class="caret"></b></a>
                      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                <li role="presentation" class="dropdown-header" th:text="#{nav.country}">Country</li>
                                <li><a href="#" th:href="@{/country/}" th:text="#{nav.country.show}"><span class="glyphicon glyphicon-user"></span>show country</a></li>
                                <li><a href="#" th:href="@{/country}" th:text="#{nav.country.edit}"><span class="glyphicon glyphicon-plus"></span>Add country</a></li>
                      </ul>
                 
                 </li>
                <li class="dropdown">
                 <a href="" class="dropdown-toggle" data-toggle="dropdown" th:text="#{nav.boxer.label}"><span class="glyphicon glyphicon-user"></span>Boxer : <b class="caret"></b></a>
                      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                <li role="presentation" class="dropdown-header" th:text="#{nav.boxer.label}">Boxer</li>
                                <li><a href="#" th:href="@{/boxer/}" th:text="#{nav.boxer.show}"><span class="glyphicon glyphicon-user"></span>show boxer</a></li>
                                <li><a href="#" th:href="@{/boxer}" th:text="#{nav.boxer.edit}"><span class="glyphicon glyphicon-plus"></span>Add boxer</a></li>
                      </ul>
                 
                 </li>
                 
                  <li class="dropdown">
                 <a href="" class="dropdown-toggle" data-toggle="dropdown" th:text="#{nav.fight.label}"><span class="glyphicon glyphicon-user"></span>Fight : <b class="caret"></b></a>
                      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                <li role="presentation" class="dropdown-header" th:text="#{nav.fight.label}">Fight</li>
                                <li><a href="#" th:href="@{/fight/}" th:text="#{nav.fight.show}"><span class="glyphicon glyphicon-user"></span>show fight</a></li>
                                <li><a href="#" th:href="@{/fight}" th:text="#{nav.fight.edit}"><span class="glyphicon glyphicon-plus"></span>Add fight</a></li>     
                      </ul>
                 </li>
                 
                <li ><a href="#" th:href="@{/}"><span class="glyphicon glyphicon-info-sign"  data-toggle="modal" data-target="#myModal"></span>PoC</a></li>
               
                 
                 
               <li class="divider-vertical" />
					
				</ul>
           
          
        </div>
      </div>
    </div>
    
  </body>
</html>