<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:tiles="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org" th:lang="${#locale.language}">


<head th:include="fragment/headTag :: headTag">
<title>country</title>
</head>


<body>
    <div th:include="fragment/nav :: nav" />
</body>
<br />

<br />
<br />
<table border="1">
<tr><th>Name</th><th>Edit</th><th>Delete</th></tr>
<tr th:each="country : ${countryList}">
  <td th:text="${country.name}"/>
  <td><a href="edit.html" th:href="@/country/">edit</a> </td>
  <td><a href="#" th:text="#{account.view.changePassword}" th:href="@{/account/changepassword}">Change password</a></td>
 </tr>

</table>

 

<div th:include="fragment/footer :: footer" />
</html>