<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:tiles="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org" th:lang="${#locale.language}">


<head th:include="fragment/headTag :: headTag">
<title>edit country</title>
</head>


<body>
    <div th:include="fragment/nav :: nav" />
</body>
<br />

<br />
<br />
<div class="container-fluid">
<form th:action="@{/country}" th:object="${country}" method="post" class="form-horizontal">
<fieldset>
  <legend>Here</legend>
      <input type="hidden" th:field="*{id}" />
       <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'">
        <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-06">
               <input type="text" id="name" name="name" th:field="*{name}" class="form-control" value="ee"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block">error!</span>
         </div>
        </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('code')}? 'has-error has-feedback'">
        <label for="code" class="col-sm-2 control-label">Code</label>
          <div class="col-sm-06">
               <input type="text" id="code" name="code" th:field="*{code}" class="form-control" value="ee"/>
                <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="help-block">error!</span>
         </div>
        </div>
      
     <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <button type="submit" class="btn btn-primary">save</button>
           </div>
    </div>
     
      </fieldset>
    </form>
    </div>
<br />

<br />
<br />
<br />
<br />

<div th:include="fragment/footer :: footer" />
</html>