<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:tiles="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org" th:lang="${#locale.language}">


<head th:include="fragment/headTag :: headTag">
<title>edit country</title>
</head>


<body>
    <div th:include="fragment/nav :: nav" />
</body>
<br />

<br />
<br />
<form th:action="@{/country}" th:object="${country}" method="post">
      <input type="text" th:field="*{name}" />

      <input type="submit" value="save" />
    </form>
<br />

<br />
<br />
<br />
<br />

<div th:include="fragment/footer :: footer" />
</html>